
<button @onclick="@(() => {  SecondEvent.InvokeAsync("test value"); })">Add value</button>
@code {

    [Parameter]
    public EventCallback<string> SecondEvent {get; set;}
    
    [Parameter]
    public EventCallback<string> ExampleValueChanged {get; set;}

    [Parameter]
    public string ExampleValue {get; set;} 
}
